{% extends "base.html" %}

{% block title %}
Наши контакты
{% endblock title %}

<div class = "container">
    
</div>


{% block content %}
<div class = "container">
    <div class = "row">
        <p class = "text-center"><b>Наши контакты:</b></p>
    </div>
    <div class = "row">
        <div class = "col-6"><p>Организационно-правовая форма и фирменное наименование:</p></div>
        <div class = "col-6 text-end"><p>Общество с Ограниченной  Ответственностью  «ПлазмаСнабКомплект» (ООО «ПлазмаСнабКомплект»)</p></div>
        <div class = "col-6"><p>Юридический адрес:</p></div>
        <div class = "col-6 text-end"><p>220089, г. Минск, ул. Гурского 37, офис 5Н, комната №18/11</p></div>
        <div class = "col-6"><p>Фактическое местонахождение:</p></div>
        <div class = "col-6 text-end"><p>220131, Минск, ул. Гамарника, д30, офис 353</p></div>
        <div class = "col-6"><p>Телефон/факс Участника (с указанием кода города):</p></div>
        <div class = "col-6 text-end"><p><a href = "tel:+375296566194">8 (029) 656 61 94</a>, <a href = "tel:+375173221264"> 8 (017) 322 12 64</a>, <a href = "tel:+375173221265">8 (017) 322 12 65</a></p></div>
        <div class = "col-6"><p>Адрес электронной почты:</p></div>
        <div class = "col-6 text-end"><p><a href = "mailto:plazmapsk@gmail.com">plazmapsk@gmail.com</a></p></div>
    </div>

    <hr class="featurette-divider">
    
<p class = "text-center"><b>Мы на карте</b></p>


<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0b0446832a69380e719dd382bb09e7227dbc0e28bb6983d5e2077aa5c05fbb4c&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
<hr class="featurette-divider">
</div>
{% endblock content %}