{% extends 'base.html' %}
{% load static %}

{% block title %}
  О нас
{% endblock title %}

{% block content %}
 

  <div class="container">
    <div class="row">
      <hgroup class="title">
        <h1>Контакты.</h1>

      </hgroup>
      <article class="span12">

 
        <div class="display-field">
          <table style="width: 824px;
                        height: 229px"
                 border="0"
                 cellpadding="0"
                 cellspacing="0">
            <tbody>
              <tr>
                <td valign="top" width="235">
                  <p style="text-align: left;">
                    Организационно-правовая форма и фирменное наименование
                  </p>
                </td>
                <td valign="top" width="235">
                  <p style="text-align: left;"></p>
                </td>
                <td style="text-align: left;" valign="top" width="431">
                  <p>
                    Общество с Ограниченной&nbsp; Ответственностью&nbsp; &laquo;ПлазмаСнабКомплект&raquo;
                  </p>
                  <p>(ООО &laquo;ПлазмаСнабКомплект&raquo;)</p>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td valign="top" width="235">
                  <p>Юридический адрес</p>
                </td>
                <td valign="top" width="235">
                  <p></p>
                </td>
                <td valign="top" width="431">
                  <p>220089, г. Минск, ул. Гурского 37, офис 5Н, комната №18/11</p>
                </td>
              </tr>
              <tr>
                <td valign="top" width="235">
                  <p>Фактическое местонахождение</p>
                </td>
                <td valign="top" width="235">
                  <p></p>
                </td>
                <td valign="top" width="431">
                  <p>220131, Минск, ул. Гамарника, д30, офис 353</p>
                </td>
              </tr>
              <tr>
                <td valign="top" width="235">
                  <p>Телефон/факс Участника (с указанием кода города)</p>
                </td>
                <td valign="top" width="235">
                  <p></p>
                </td>
                <td valign="top" width="431">
                  <p>8 (029) 656 61 94,</p>
                  <p>
                    <span>8 (017)322 12 64</span>,
                  </p>
                  <p>
                    <span>8 (017)322 12 65</span>
                  </p>
                </td>
              </tr>
              <tr>
                <td valign="top" width="235">
                  <p>Адрес электронной почты</p>
                </td>
                <td valign="top" width="235">
                  <p></p>
                </td>
                <td valign="top" width="431">
                  <p>plazmapsk@gmail.com</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2347.5741537404206!2d27.60320221625646!3d53.957071280111485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcf4f16cabfe5%3A0xd4da9740234733f2!2z0YPQuy4g0JPQsNC80LDRgNC90LjQutCwIDMwLCDQnNC40L3RgdC6!5e0!3m2!1sru!2sby!4v1485878064860"
                  width="600"
                  height="450"
                  frameborder="0"
                  style="border:0"
                  allowfullscreen></iframe>
        </div>
      </article>
    </div>

 

  </div>
</div>
 
 
</div>

{% endblock content %}
