<p class="float-end"><a href="#">Вверх</a></p>
<div class = "container">
<p> Контакты: </p>
<p> Адрес: 220131 г. Минск ул Гамарника, д 30(БЦ "зеленый луг") офис 353</p>

<p> Телефоны: <a href = "tel:+375296566194">8 (029) 656 61 94</a>, <a href = "tel:+375173221264"> 8 (017) 322 12 64</a>, <a href = "tel:+375173221265">8 (017) 322 12 65</a></p>
<p>Email: <a href = "mailto:plazmapsk@gmail.com">plazmapsk@gmail.com</a></p>
<p class = "text-center"><b>&copy; {{ year }} ООО "ПлазмаСнабКомплект"</b></p>
</div>