{% load static %}

<div class="container">


    <div class="span6">
                <a href="/">Контакты</a>
    <div style="color:#0e0e0e">
    
        <div> <p>Адрес: 220131 г. Минск ул Гамарника, д 30(БЦ "зеленый луг") офис 353</p></div>
        <div>
            <p>
                Телефоны: 8 (029) 656 61 94,
                8 (017)322 12 64, 8 (017)322 12 65
            </p>
        </div>
    
            <p>Email: <a href="">plazmapsk@gmail.com</a></p>
        </div>
    </div>
    
                <div class="span5">
                    <div class="privacy pull-left"> {{ year }} — ООО «ПлазмаСнабКомплект»</div>
                </div>
            </div>