{% load static %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        ООО "ПлазмаСнабКомплект"
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Главная</a>
          </li>
          {% for type in all_types %}
          {% if type.companys.all %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ type.type_name_russian }}</a>
            <ul class="dropdown-menu">
                {% for company in type.companys.all %}
              <li><a class="dropdown-item" href="{% url "products:models" type.type_name company.company_name %}">{{ company.company_name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
         {% endfor %}
          <li class="nav-item">
            <a class="nav-link" href = "{% url "about:about" %}">Контакты</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
      </div>
    </div>
  </nav>