{% extends 'base.html' %}
{% load static %}

{% block title %}
  ООО "ПлазмаСнабКомплект"
{% endblock title %}

{% block content %}

  <div class="container">
    <div class="row">
      <hgroup class="title">
        <h1>ООО &#171;ПлазмаСнабКомплект&#187;.</h1>

      </hgroup>
      <article class="span12">

 
        <div class="display-field">
          <p style="text-align: justify;">
            Наша компания специализируется на комплексных поставках плазменных, лазерных и сварочных расходников, к большинству видов оборудования импортного производства этого профиля.
          </p>
          <p style="text-align: justify;">
            ООО &laquo;ПлазмаСнабКомплект&raquo; является официальным дистрибьютором американской компании Hypertherm на территории Республики Беларусь.
          </p>
          <p style="text-align: justify;">
            Наши специалисты проходят регулярное обучение и непрерывно повышают свой уровень&nbsp; в этой сфере.
          </p>
          <p style="text-align: justify;">
            Отличительной чертой нашей работы &ndash; взвешенный подход к потребностям заказчика и выработка оптимального предложения соотношения цены и качества комплектации.
          </p>
          <p style="text-align: justify;">
            Создание максимально удобных условий логистики сотрудничества для заказчика (формирование оперативного возобновляемого складского запаса потребляемого ассортимента, курьерская доставка до предприятия-потребителя, техническая поддержка, подбор оптимальной комплектации, с учетом последних разработок и модернизаций производителя оборудования).
          </p>
          <p style="text-align: center;">
            <span style="font-size: large;">НАШ ДEВИЗ: ОПТИМИЗАЦИЯ</span>&nbsp;
          </p>
          <p>
            &nbsp;
            <img style="display: block;
                        margin-left: auto;
                        margin-right: auto"
                 src="{% static "img\сертификат.jfif" %}"
                 alt=""
                 height="395"
                 width="638"/>
          </p>
        </div>
      </article>
    </div>

 

  </div>
</div>
 
 
</div>

{% endblock content %}
