{% extends 'base.html' %}

{% block title %}ООО "ПлазмаСнабКомплект"{% endblock title %}

{% block content %}


  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Прямые поставки.</span></h2>
        <p class="lead">Все расходники на плазму мы получаем напрямую от ведущих мировых производителей, поэтому каждому покупателю мы гарантируем выгодную стоимость всей продукции.</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Выгодная стоимость.</span></h2>
        <p class="lead">Прямые поставки запчастей от ведущих производителей дают нам возможность устанавливать выгодную стоимость на все расходники.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Гарантия качества и надежности.</span></h2>
        <p class="lead">При необходимости, мы готовы предоставить каждому покупателю сертификаты соответствия качеству.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

        <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Выгодная стоимость.</span></h2>
        <p class="lead">Прямые поставки запчастей от ведущих производителей дают нам возможность устанавливать выгодную стоимость на все расходники.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

  </div>

  {% endblock content %}
