{% extends 'base.html' %}
{% load static %}

{% block title %} Лазер {% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <hgroup class="title">
            <h1>Лазер.</h1>

        </hgroup>
        <article class="span12">


            <div class="display-field">
                <p style="text-align: center;">Компания &laquo;ПлазмаСнабКомплек&raquo; занимается поставкой расходных материалов для оборудования лазерной резки.</p>
<p style="text-align: justify;">Расходные материалы, приобретаемые в нашей компании обеспечивают отличные характеристики резки при самых низких затратах. Приобретаемые расходные детали обладают хорошей точностью и неизменностью характеристик при каждом заказе.</p>
<p style="text-align: justify;"><a href="http://www.hypertherm.com/ru/Torches_and_consumables/Centricut_consumables/#0">Мы готовы предложить вам расходные детали для следующего оборудования</a>:</p>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="213" valign="top">
<p style="text-align: center;"><a href="https://www.hypertherm.com/Xnet/library/library.jsp?file=HYP105457">Amada</a></p>
</td>
<td width="213" valign="top" style="text-align: center;">
<p>Hankwang &nbsp;</p>
</td>
<td width="213" valign="top" style="text-align: center;">
<p>NTC &ndash; Beyeler</p>
</td>
</tr>
<tr>
<td width="213" valign="top">
<p style="text-align: center;"><a href="https://www.hypertherm.com/Xnet/library/library.jsp?file=HYP105458">Behrens</a></p>
</td>
<td width="213" valign="top" style="text-align: center;">
<p>Hans&nbsp;</p>
</td>
<td width="213" valign="top">
<p style="text-align: center;">Precitec</p>
</td>
</tr>
<tr>
<td width="213" valign="top">
<p style="text-align: center;"><a href="https://www.hypertherm.com/Xnet/library/library.jsp?file=HYP105459">Bystronic</a></p>
</td>
<td width="213" valign="top" style="text-align: center;">
<p>Koike</p>
</td>
<td width="213" valign="top">
<p style="text-align: center;">Prima Industrie &nbsp;</p>
</td>
</tr>
<tr>
<td width="213" valign="top">
<p style="text-align: center;"><a href="https://www.hypertherm.com/Xnet/library/library.jsp?file=HYP105460">Cincinnati</a></p>
</td>
<td width="213" valign="top" style="text-align: center;">
<p>Laserdyne</p>
</td>
<td width="213" valign="top" style="text-align: center;">
<p>Raskin</p>
</td>
</tr>
<tr>
<td width="213" valign="top">
<p style="text-align: center;"><span><a href="https://www.hypertherm.com/Xnet/library/library.jsp?file=HYP105455"><span lang="EN-US">Durma</span></a></span></p>
</td>
<td width="213" valign="top" style="text-align: center;">
<p>Laser Lab&nbsp;</p>
</td>
<td width="213" valign="top">
<p style="text-align: center;">Rouchaud</p>
</td>
</tr>
<tr>
<td width="213" valign="top">
<p style="text-align: center;"><a href="https://www.hypertherm.com/Xnet/library/library.jsp?file=HYP105455">Ermaksan</a></p>
</td>
<td width="213" valign="top" style="text-align: center;">
<p>LVD&nbsp;</p>
</td>
<td width="213" valign="top">
<p style="text-align: center;">Salvagnini &nbsp;</p>
</td>
</tr>
<tr>
<td width="213" valign="top">
<p style="text-align: center;">Finn Power</p>
</td>
<td width="213" valign="top" style="text-align: center;">
<p>Mazak</p>
</td>
<td width="213" valign="top">
<p style="text-align: center;">Strippit &nbsp;</p>
</td>
</tr>
<tr>
<td width="213" valign="top">
<p style="text-align: center;">GHT</p>
</td>
<td width="213" valign="top" style="text-align: center;">
<p>Mitsubishi</p>
</td>
<td width="213" valign="top">
<p style="text-align: center;">Tanaka &nbsp;&nbsp;</p>
</td>
</tr>
<tr>
<td width="213" valign="top" style="text-align: center;">
<p>Haas</p>
</td>
<td width="213" valign="top" style="text-align: center;">
<p>Murata Wiedemann &ndash; Fanuc</p>
</td>
<td width="213" valign="top">
<p style="text-align: center;">Thyssen &nbsp;</p>
</td>
</tr>
<tr>
<td width="213" valign="top">
<p style="text-align: center;">Haco&nbsp;</p>
</td>
<td width="213" valign="top" style="text-align: center;">
<p><st1:city><st1:place>Niigata</st1:place></st1:city></p>
</td>
<td width="213" valign="top">
<p style="text-align: center;">Trumpf &nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
            </div>
        </article>
    </div>



</div>
        </div>
       
       
    </div>

{% endblock content %}