{% extends 'base.html' %}
{% load static %}

{% block title %}
  Плазма
{% endblock title %}


{% block content %}

  <div class="container">
    <div class="row">
      <hgroup class="title">
        <h1>Плазма.</h1>
      </hgroup>
      <article class="span12">
        <div class="display-field">
          <p style="text-align: justify;">
            Плазменная резка &ndash;один из наиболее эффективных методов термического раскроя металла.Аппараты для плазменной резки являются высокотехнологичными машинами. Не последнюю роль в качестве и комфорте их эксплуатации играют расходные части. Являясь официальным дилером крупнейшего мирового производителя плазменного оборудования и расходных частей к нему компании HYPERTHERM и ее дочерней компании Centricut, мы имеем возможность поставлять плазменные комплектующие высочайшего качества. Вот неполный перечень резаков различных производителей, комплектуемых данными расходными частями.
          </p>
          <p style="text-align: justify;">
            <b style="text-align: center;">&nbsp;&nbsp;&nbsp;</b>
          </p>
          <h1>
            <a href="http://www.hypertherm.com/ru/Torches_and_consumables/Hypertherm_plasma_consumables/">Расходные детали для систем плазменной резки Hypertherm</a>
          </h1>
          <p></p>
          <p></p>
          <table align = "center">
            <tr>
              {% for model in models %}
                <td width = "35%">
                  <p style: "text-align: center;">
                    <!-- <img src = "{{ product.img.url }}" height = "50%", width = "50%"><br> -->
                    {{ model.model_name }}
                    <br>
                  </p>
                </td>
                {% if forloop.counter|divisibleby:3 %}
                </tr>
                <tr>
                {% endif %}
                {% if forloop.last %}</tr>{% endif %}
            {% endfor %}
          </table>
          <p></p>
          <h1>
            <a href="http://www.hypertherm.com/ru/Torches_and_consumables/Centricut_consumables/#1">Расходные детали Centricut</a>
          </h1>
          <p></p>
          <p>&nbsp;</p>
          <p>
            <img style="display: block;
                        margin-left: auto;
                        margin-right: auto"
                 src="{% static "img/плазма.jfif" %}"/>
          </p>
          <p>&nbsp;</p>
          <p>
            На некоторые установки плазменной резки, не вошедшие в данный перечень, мы поставляем высококачественные расходные части других европейских производителей.
          </p>
          <p>&nbsp;</p>
        </div>
      </article>
    </div>
  </div>
</div>
</div>

{% endblock content %}
