{% extends 'base.html' %}
{% load static %}

{% block title %}
  Сварка
{% endblock title %}

{% block content %}

  <div class="container">
    <div class="row">
      <hgroup class="title">
        <h1>Сварка.</h1>

      </hgroup>
      <article class="span12">


        <div class="display-field">
          <p style="text-align: justify;">
            Компания &laquo;ПлазмаСнабКомплек&raquo; имеет возможность поставлять расходные материалы для сварочного оборудования.
          </p>
          <p style="text-align: justify;">
            Сварочные расходные детали, приобретаемые у нашей компании отличаются качественным исполнением и не высокими ценами.
          </p>
          <p style="text-align: justify;">
            Предлагаем вам приобрести расходные детали для следующего сварочного оборудования.
          </p>
          <div>
 
            <table align = "center">
              <tr>
                {% for product in products %}
                  <td width = "35%">
                    <p style: "text-align: center;">
                      <img src = "{{ product.img.url }}" height = "50%", width = "50%">
                      <br>
                      {{ product.name }}
                      <br>
                      Артикул: {{ product.article }}
                    </p>
                  </td>
                  {% if forloop.counter|divisibleby:3 %}
                  </tr>
                  <tr>
                  {% endif %}
                  {% if forloop.last %}</tr>{% endif %}
              {% endfor %}
            </table>
 
          </div>
        </div>
      </article>
    </div>



  </div>
</div>
 
 
</div>

{% endblock content %}
