{% extends 'base.html' %}
{% load static %}

{% block title %}
  Сварка
{% endblock title %}

{% block content %}

  <div class="container">
    <div class="row">
      <hgroup class="title">
        <h1>Сварка.</h1>

      </hgroup>
      <article class="span12">


        <div class="display-field">
          <p style="text-align: justify;">
            Компания &laquo;ПлазмаСнабКомплек&raquo; имеет возможность поставлять расходные материалы для сварочного оборудования.
          </p>
          <p style="text-align: justify;">
            Сварочные расходные детали, приобретаемые у нашей компании отличаются качественным исполнением и не высокими ценами.
          </p>
          <p style="text-align: justify;">
            Предлагаем вам приобрести расходные детали для следующего сварочного оборудования.
          </p>
          <p>Binzel</p>
          <p>Tweco</p>
          <p>Bernard</p>
          <p>Fronius</p>
        </div>
      </article>
    </div>



  </div>
</div>
 
 
</div>

{% endblock content %}
